.btn {
  display: inline-block;
  padding: 13px 35px;
  background-color: $brand-main;
  color: $white;
  text-transform: uppercase;
  border-radius: 30px;
}

.btn-lg {
  padding: 18px 40px;
}

.glide__arrow {
  border: 0;
}

.arrow {
  font-size: 30px;
}

.chevron {
  width: 38px;
  height: 38px;
  background-color: $brand-main;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
