* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #323975;
}

.fa-snowflake {
  color: #fff;
  position: absolute;
  top: -20px;
  animation: fall 10s linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}

.frame {
  width: 350px;
  height: 350px;
  position: absolute;
}

.tree__top {
  margin: 0 auto;
  border-width: 0 100px 50px 100px;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent #036d1e transparent;
  border-radius: 100%;
  transform: rotate(360deg);
  z-index: 2;
}

.tree__middle {
  top: -10px;
  margin: 0 auto;
  border-width: 0 150px 80px 150px;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent #036d1e transparent;
  border-radius: 100%;
  transform: rotate(360deg);
  z-index: 2;
}

.tree__bottom {
  top: -20px;
  margin: 0 auto;
  border-width: 0 180px 100px 180px;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent #036d1e transparent;
  border-radius: 100%;
  transform: rotate(360deg);
  z-index: 2;
}

.tree__trunk {
  margin: 0 auto;
  position: relative;
  width: 30px;
  height: 90px;
  top: -35px;
  background-color: #53350a;
  z-index: 1;
}

.tree__star {
  position: relative;
  height: 60px;
  width: 60px;
  z-index: 3;
  margin: 0 auto;
}

.tree__star--top {
  margin-top: 40px;
  left: 5px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 25px 17px 25px;
  border-color: transparent transparent #ffd105 transparent;
  transform: rotate(35deg);
  transform: rotate(35deg);
  transform: rotate(35deg);
  transform: rotate(35deg);
}

.tree__star--top:before {
  position: absolute;
  height: 0;
  width: 0;
  top: 0px;
  left: -25px;
  content: '';
  border-style: solid;
  border-width: 0 25px 17px 25px;
  border-color: transparent transparent #ffd105 transparent;
  transform: rotate(-70deg);
  transform: rotate(-70deg);
  transform: rotate(-70deg);
  transform: rotate(-70deg);
}

.tree__star--top:after {
  position: absolute;
  height: 0;
  width: 0;
  top: -12px;
  left: -16px;
  content: '';
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #ffd105 transparent;
  transform: rotate(-35deg);
  transform: rotate(-35deg);
  transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.tree__ornament {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #fff45d;
}

.tree__ornament--1 {
  position: absolute;
  top: 30px;
  left: 40px;
}

.tree__ornament--2 {
  position: absolute;
  top: 30px;
  right: 40px;
}

.tree__ornament--3 {
  position: absolute;
  top: 20px;
  right: 10px;
}

.tree__ornament--4 {
  position: absolute;
  top: 15px;
  left: 10px;
}

.tree__ornament--5 {
  position: absolute;
  top: 50px;
  left: 70px;
}

.tree__ornament--6 {
  position: absolute;
  top: 30px;
  left: 35px;
}

.tree__ornament--7 {
  position: absolute;
  top: 30px;
  right: 35px;
}

.tree__ornament--8 {
  position: absolute;
  top: 50px;
  right: 70px;
}

.tree__ornament--9 {
  position: absolute;
  top: 70px;
  right: 90px;
}

.tree__ornament--10 {
  position: absolute;
  top: 50px;
  right: 60px;
}

.tree__ornament--11 {
  position: absolute;
  top: 30px;
  right: 25px;
}

.tree__ornament--12 {
  position: absolute;
  top: 70px;
  left: 90px;
}

.tree__ornament--13 {
  position: absolute;
  top: 50px;
  left: 60px;
}

.tree__ornament--14 {
  position: absolute;
  top: 30px;
  left: 25px;
}

.light--on {
  background-color: #fdf5bf;
  box-shadow: 0 0 20px #fdf5bf;
  transform: scale(1.1);
}
