* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #1d202c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  width: 900px;
  height: 600px;
  padding: 5px;
  position: relative;
  background-color: rgb(21, 24, 35, 0.75);
  color: #fff;
  text-align: center;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  filter: blur(40px);
  transform: scale(1.2);
  background: linear-gradient(90deg, #1abc9c, #9b59b6);
  background-size: 200%;
  animation: animateglow 10s ease infinite;
}

@keyframes animateglow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.background h1 {
  margin-top: 20px;
}

.background h3 {
  font-size: 16px;
  margin-top: 15px;
  font-weight: normal;
}

.background p {
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #1abc9c;
  font-weight: bold;
}

.buttons {
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.check-btn {
  background-color: #1abc9a;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 26px;
  cursor: pointer;
}

.restart-btn {
  background-color: #9b59b6;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 26px;
  cursor: pointer;
}

.background img {
  position: absolute;
  right: 5px;
  top: 50%;
  width: 300px;
}

.background form {
  margin-top: 20px;
}

.userInput {
  padding: 5px;
  font-size: 20px;
}

.background .result {
  font-size: 28px;
}

.background .attempts {
  font-size: 18px;
  color: #fff;
}
